@import 'mixins';

$captionColor: #d68a08;

.dialog {
  .dialog__grid {
    padding: 7% !important;

    .dialog__item {
      font-size: 20px;
      color: $captionColor;

      @include sm {
        font-size: 18px;
        text-align: center;
      }
    }
    .dialog__img {
      max-width: 50%;
      height: auto;

      @include sm {
        max-width: 20%;
        height: auto;
      }
    }
    .dialog__tagline {
      @include sm {
        text-align: center;
      }
    }
    .dialog__img__container {
      @include sm {
        text-align: center;
      }
    }
    .dialog__beer__description {
      padding-bottom: 10px;
    }
    .dialog_divider {
      height: 7px !important;
      background-color: #dbc13d !important;
      margin-right: 80% !important;
    }
    .dialog__beer__details {
      margin-top: 10px;
      padding-bottom: 10px;
      .dialog__beer__details__capiton {
        color: $captionColor;
        font-size: 15px;
        font-weight: 600;
      }
      .dialog__beer__details__capiton__value {
        padding-right: 5px;
        font-weight: 600;
      }
    }
    .dialog__beer__description--tips {
      padding-bottom: 5%;
    }
  }
}
