$beerNameColor: #dbc13d;

.card {
  height: 50vh;
  margin: 10px;
  .card-action {
    height: 100%;
    line-height: 100px;
    padding: 20px;
    .card-media {
      height: 70%;
      width: 100px;
      background-size: contain;
      vertical-align: middle;
    }
  }
  .beer-name {
    color: $beerNameColor !important;
  }
  .beer-tag {
    text-align: center;
  }
}
