$beerNameColor: #dbc13d;

.card {
  height: 50vh;
  margin: 10px;
  .card__action {
    height: 100%;
    line-height: 100px;
    padding: 20px;
    .card__media {
      height: 70%;
      width: 100px;
      background-size: contain;
      vertical-align: middle;
    }
  }
  .card__name {
    color: $beerNameColor;
    text-align: center;
    text-decoration: none;
    .card__name--tag {
      color: #fff;
      text-align: center;
      text-decoration: none;
    }
  }

} // .card
