.top-bar {
  height: 80px;
  font-family: "Roboto", sans-serif;
  background-color: #222;
  margin-bottom: 30px;
  text-align: center;
  .logo {
    font-size: 25px;
    line-height: 80px;
    text-decoration: none;
    color: #fff;
    .app-logo {
      color: yellow;
    }
  }
}
